<div class="sub_head">

</div>
<div class="container-fluid ">


    <div class="container pt-4">
        <div class="row ">
            <div class="col-md-8  mt-2 pt-4">


                <div class="row">

                    <div class="col-md-12 mb-2">
                        <h2 class="titulo_1">¿ Desea que instalemos sus productos ?</h2>
                    </div>
                    <div class="col-md-5">
                        <button class="bt_enabled general_text pt-2 pb-2  mt-1 mb-1 detonar_modal" style="width:100%;">
                            PUEDO INSTALARLOS YO MISMO
                        </button></div>
                    <div class="col-md-5">
                        <button class="bt_enabled_no_background general_text pt-2 pb-2  mt-1 mb-1 detonar_modal"
                            style="width:100%;">
                            AYUDAME CON LA INSTALACION
                        </button>
                    </div>
                    <div class="col-md-12">
                        <p class="general_text">
                            Ver video de instalacion
                            <i class="fa fa-caret-right triangle_right " aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
                <div class="row mt-md-5 pt-2">
                    <div class="col-md-12">
                        <h2>Titulo 2</h2>
                    </div>
                </div>
                <div class="row no-gutters mt-0 pt-0  mb-5 steps_purchase ">
                    <div class="col-md-12 pl-0 pr-0   d-none d-xl-block d-lg-block">
                        <div class="row pl-0 pr-0 mr-0 ml-0 ctr_option">
                            <div class="col-3 pl-0 pr-0 ">
                                <button class="bt_enabled_steps    " data="1" style="width:100%;">
                                    z
                                </button>
                            </div>
                            <div class="col-3 pl-0 pr-0">
                                <button class="bt_enabled general_text   " data="2" style="width:100%;">
                                    z
                                </button>
                            </div>
                            <div class="col-3 pl-0 pr-0">
                                <button class="bt_enabled general_text  " data="3" style="width:100%;">
                                    z
                                </button>
                            </div>
                            <div class="col-3 pl-0 pr-0">
                                <button class="bt_enabled general_text   " data="4" style="width:100%;">
                                    z
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12  control_iformation">
                        <button class="bt_enabled_steps general_text pt-2 pb-2 pr-0 pl-0  mt-1  d-block d-sm-none  "
                            style="width:100%; ">
                            z
                        </button>
                        <!--aqui-->
                        <div class="row ml-0 mr-0 mt-md-4">
                            <div class="col-12  pl-5 pr-5 pb-4 mt-2" style=" padding:0; margin:0px;">
                                <div class="parent_line">
                                    <div class="line">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row ml-0 mr-0 ">
                            <div class="col-md-5 ml-md-5" style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>
                            <div class="col-md-5 " style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>




                            <div class="col-12  invoice pt-3 pb-3 pl-5 mt-4 ">
                                <label class="is_check d-inline">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <div class="general_text d-inline " style="color:white;">
                                    ¿ Desea incluir factura ?
                                </div>
                            </div>

                        </div>






                    </div>
                    <div class="col-md-12  control_iformation">
                        <button class="bt_enabled general_text pt-2 pb-2 pr-0 pl-0  mt-1  d-block d-sm-none  "
                            style="width:100%; ">
                            z
                        </button>
                        <!--aqui-->
                        <div class="row ml-0 mr-0 mt-md-4 d-none">
                            <div class="col-12  pl-5 pr-5 pb-4 mt-2" style=" padding:0; margin:0px;">
                                <div class="parent_line">
                                    <div class="line">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row ml-0 mr-0  d-none">
                            <div class="col-md-5 ml-md-5" style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address 22</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>
                            <div class="col-md-5 " style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>




                            <div class="col-12  invoice pt-3 pb-3 pl-5 mt-4 ">
                                <label class="is_check d-inline">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <div class="general_text d-inline " style="color:white;">
                                    ¿ Desea incluir factura ?
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-12  control_iformation">
                        <button class="bt_enabled general_text pt-2 pb-2 pr-0 pl-0  mt-1  d-block d-sm-none  "
                            style="width:100%; ">
                            z
                        </button>
                        <!--aqui-->
                        <div class="row ml-0 mr-0 mt-md-4 d-none d-none">
                            <div class="col-12  pl-5 pr-5 pb-4 mt-2" style=" padding:0; margin:0px;">
                                <div class="parent_line">
                                    <div class="line">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row ml-0 mr-0  d-none d-none">
                            <div class="col-md-5 ml-md-5" style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address 4444</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>
                            <div class="col-md-5 " style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>




                            <div class="col-12  invoice pt-3 pb-3 pl-5 mt-4 ">
                                <label class="is_check d-inline">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <div class="general_text d-inline " style="color:white;">
                                    ¿ Desea incluir factura ?
                                </div>
                            </div>

                        </div>






                    </div>
                    <div class="col-md-12  control_iformation">
                        <button class="bt_enabled general_text pt-2 pb-2 pr-0 pl-0  mt-1  d-block d-sm-none  "
                            style="width:100%; ">
                            z
                        </button>
                        <!--aqui-->
                        <div class="row ml-0 mr-0 mt-md-4 d-none d-none">
                            <div class="col-12  pl-5 pr-5 pb-4 mt-2" style=" padding:0; margin:0px;">
                                <div class="parent_line">
                                    <div class="line">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row ml-0 mr-0  d-none d-none">
                            <div class="col-md-5 ml-md-5" style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>
                            <div class="col-md-5 " style="height:300px;">
                                <div class="pr-1 h-25 mt-3  ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1 h-25 mt-3 ">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                                <div class="pr-1  h-25 mt-3">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class=" fix_input general_text" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">

                                </div>
                            </div>




                            <div class="col-12  invoice pt-3 pb-3 pl-5 mt-4 ">
                                <label class="is_check d-inline">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <div class="general_text d-inline " style="color:white;">
                                    ¿ Desea incluir factura ?
                                </div>
                            </div>

                        </div>






                    </div>
                </div>


            </div>

            <div class="col-md-4  mobile_card  d_none_special  ">

                <div class="row align-items-center pr-2 pl-2 pt-3 pb-3 ml-1 total_card">
                    <div class="col-12 mt-2 ">
                        <div class="row">
                            <div class="col-6 general_text" style="color:white">
                                Subtotal.
                            </div>
                            <div class="col-6">
                                <p class="text-right general_text" style="color:white">10</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6 general_text" style="color:white">
                                Envio
                            </div>
                            <div class="col-6">
                                <p class="text-right general_text" style="color:white">10</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6 general_text" style="color:white">
                                IVA
                            </div>
                            <div class="col-6">
                                <p class="text-right general_text" style="color:white">10</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6 general_text" style="color:white">
                                Total.
                            </div>
                            <div class="col-6">
                                <p class="text-right general_text" style="color:white">10</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 mb-1">
                        <div class="separator_total"></div>
                        <div class="row mt-3 mb-4">
                            <div class="col-12 mx-auto text-center  ">
                                <button class="btn-comprar pt-2 pb-2  ">
                                    COMPRAR
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row   align-items-top mt-2 ml-1 pl-0 pr-0   total_products">
                    <div class="col-12 pl-0 pr-0 pt-4">
                        <p class="text-left dato_imp_car pl-3" style="color:white;">Productos</p>
                        <div class="container">
                            <div class="row fake_table general_text" style="color:white; ">
                                <div class="col-8 mb-0 mb-0 text-left pt-2 pb-2">Sowarks white motor</div>
                                <div class="col-4 mb-0 mb-0 text-center pt-2 pb-2">$21130</div>
                            </div>

                            <div class="row fake_table general_text" style="color:white; ">
                                <div class="col-8 mb-0 mb-0 text-left pt-2 pb-2">Sowarks white motor</div>
                                <div class="col-4 mb-0 mb-0 text-center pt-2 pb-2">$21130</div>
                            </div>
                            <div class="row fake_table general_text" style="color:white; ">
                                <div class="col-8 mb-0 mb-0 text-left pt-2 pb-2">Sowarks white motor</div>
                                <div class="col-4 mb-0 mb-0 text-center pt-2 pb-2">$21130</div>
                            </div>


                        </div>
                        <p class="text-left dato_imp_car pl-3 mt-3" style="color:white;">Incluidos</p>
                        <div class="container">
                            <div class="row fake_table general_text" style="color:white; ">
                                <div class="col-8 mb-0 mb-0 text-left pt-2 pb-2">Control remoto 5 canles x1</div>
                                <div class="col-4 mb-0 mb-0 text-center pt-2 pb-2">$21130</div>
                            </div>

                            <div class="row fake_table general_text" style="color:white; ">
                                <div class="col-8 mb-0 mb-0 text-left pt-2 pb-2">Sowarks white motor</div>
                                <div class="col-4 mb-0 mb-0 text-center pt-2 pb-2">$21130</div>
                            </div>



                        </div>

                    </div>

                </div>


                <div class="row  mt-2 ml-0 pl-0 pr-0">
                    <div class="col-12 pl-0 pr-0 pt-4 general_text">

                        ' ¿Alguna duda o pregunta ? comunicate al telefono
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid total_products pb-4 pt-4 pl-1 pr-1 d-block d-sm-none">
    <div class="row pb-3">
        <div class="col-2 text-right general_text" style="color:white;">
            Total
        </div>
        <div class="col-8 text-center general_text" style="color:white;">
            $14,00000
        </div>
        <div class="col-2 text-left fa fa-ellipsis-v ellipsis-v open_products_total"
            style="font-size:25px; color:white;">

        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <div class="col-12 mx-auto text-center  ">
                <button class="btn-comprar pt-2 pb-2  ">
                    COMPRAR
                </button>
            </div>
        </div>
    </div>
</div>