h1{
    font-size: 40px;
    font-weight: Bold;
    line-height : 0px;
    font-family:  'Montserrat', sans-serif;

}

h2{
    font-size: 30px;
    font-weight: Bold;
    line-height : 0px;
    font-family:  'Montserrat', sans-serif;
}
.titulo_1{
    font-size: 24px;
    font-weight: Bold;
    line-height : 0px;
    font-family:  'Montserrat', sans-serif;
}

.titulo_2{
    font-size: 22px;
    font-weight: Bold;
    line-height : 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.titulo_tab_car{
    font-size: 16px;
    //Regular
    line-height : 0px;
    font-family: 'Roboto Condensed', sans-serif;
}


.dato_imp_car{
    font-size: 16px;
    font-weight: Bold;
    line-height : 0px;
    font-family:'Roboto', sans-serif;
}


// Dato tabla , Párrafo , Caption y text Field , Label , Botón pequeño , Botón grande

.general_text {
    font-size: 16px;
    line-height : 0px;
    font-family:'Roboto', sans-serif;
}


