// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//
$gris_fondo_0: #414345;
$gris_fondo_1: #646567;
$gris_fondo_2: #7F8185;
$gris_fondo_3: #9B9DA3;
$naranja_0: #DA4D00;
$naranja_1: #E95A0C;
$naranja_2: #F78140;
$crema_1:#E8E7E4;
$crema_2:#ACABAB;
$crema_3:#F6F6F6;



