// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto+Condensed:300,400,700|Roboto:300,400,500,700&display=swap');

//font-awesome
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';
@import 'header';
@import 'global';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//plugin
@import "plugins/select2.min";
//custom
@import "custom/select2";
@import "custom/modalCarousel";
