/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .right_bg {
        display: none;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .left_bg {
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0px;
    }

    .right_bg {
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




.payment_header {
    padding-top: 5em;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}

.title-thanks {
    padding-top: 1em;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;

}

.main-info {
    padding-top: 1em;
    color: #BFC3CC;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
}

.info-contacto {
    color: #FFFFFF !important;
}

.referencia-oxxo-label {
    color: #BFC3CC;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
}

.orangetangle-info {
    background-color: #E95A0C;

}

.referencia_oxxo {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;

}

.info_referencias_label {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
}

.info_referencias {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.instrucciones-de-pago-title {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
}

.instrucciones-de-pago {
    color: #BFC3CC;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
}


/*Escondemos Pagos OXXO y SPEI*/
.div-oxxopay,
.div-spei {
    display: none;
}

.oxxo-instructions {
    margin-left: -25px;
    ;
}
