.select_depart{
	color: #646567;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    height: 70px;
}
.purchase_header{
	padding-bottom: 40px;
	background-color: #E8E7E4;
}

#outer-circle {
	background: #385a94;
	border-radius: 0;
	height: 5px;
	
	position: relative;
	/* 
	 Child elements with absolute positioning will be 
	 positioned relative to this div 
	*/
  }
  #inner-circle {
      width: 10%;
	position: absolute;
	background: #a9aaab;
	border-radius: 0;
	height: 5px;
    
    
	/*
	 Put top edge and left edge in the center
    */
    left:0;
    right:0;
	top: 0;
	left: 0;
	margin: 0px 0px 0px 0px;
	/* 
	 Offset the position correctly with
	 minus half of the width and minus half of the height 
	*/
  }