@import 'variables';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-img {
        padding-top: 3em;
        padding-bottom: 2em;
    }

    .signup_frame {
        padding: 1em;
    }

    body {
        padding-left: 1.3em;
        padding-right: 1.3em;
    }

    .reticula_bottom {
        position: absolute;
        bottom: -20px;
        left: -38px;
    }

    .reticula_top {
        position: absolute;
        top: -98px;
        right: -134px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .signup_frame {
        padding: 3em;
    }

    .col-img {
        padding-top: 13em;
        padding-bottom: 2em;
    }

    .reticula_bottom {
        position: absolute;
        bottom: -20px;
        left: 26px;
    }

    .reticula_top {
        position: absolute;
        top: -118px;
        right: -70px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

body {
    background-color: #646567;
}

.signup_frame {
    min-height: 400px;
    padding-top: 2em;
    background-color: #7F8185;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.12);
    max-width: 1170px;
}

.triangle_signup {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.signup-title {
    color: #FFFFFF;
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
}

.signup-guion {
    font-size: 16px;
    color: #E95A0C;
    font-weight: bold;
}

.signup-instructions {
    color: #BFC3CC;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 27px;
}

.signup-instructions2 {
    color: #BFC3CC;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 27px;
}

.numero_contrato {
    background-color: #7F8185 !important;
    color: #FFFFFF !important;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    border: 1px solid #BFC3CC;
    min-height: 54px;

}

.numero_contrato::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1;
    /* Firefox */
}

.numero_contrato:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

.numero_contrato::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #FFFFFF;
}

.btn_aceptar {
    height: 54px;
    width: 192px;
    background-color: #646567;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.2px;
    border-left-width: .5em !important;
    border-left-color: #E95A0C;
    margin-top: 1.3em;
}

.info_lost {
    padding-top: 1.6em;
    width: 100%;
    color: #BFC3CC;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.invalid-signup {
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.2px;
    /* color: #FFFFFF; */
    padding-left: .6em;
}
