.select2 {
  width:100%!important;
}
.select2-container--default .select2-selection--single{
  background-color: transparent;
  border: 0px solid #BFC3CC;
    border-bottom: 1px solid #BFC3CC;
    background: transparent;
    color: #646567;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27px;
}
